.fundo{
    background-image: url('../images/amazon.png');
    background-position-x: center;
    background-position-y: center;
    background-size: 20%;
    background-repeat: no-repeat;
    color: black;
    font-size: 20px;
}